.itemListContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    background-color: white;
    padding-top: 30px;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 60px;
}

@media screen and (max-width: 1250px) {
    .itemListContainer {
        margin: 0 20px;
    }
}

.item-card {
    display: grid;
    place-items: center;
    justify-content: center ;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 16px;
    width: 25vh;
    box-sizing: border-box;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
    /* Animation */
    transition: transform 0.1s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.item-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); /* Lift the card slightly */
}

.item-card:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Reduce shadow when pressed */
    transform: translateY(0); /* Bring the card back to its original position */
}

.item-card img {
    width: auto;
    height: 18vh;
    border-radius: 4px;
}

.item-card > h4 {
    position: initial;
    font-size: 1.5vh;
    margin: 0;
    text-align: center;

}

.item-card p {
    font-size: 1rem;
    color: #333;
    margin: 0 0 12px;
}

.item-card button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}


.item-link {
    text-decoration: none;
    color: black;
}