.present-profile {
    float:left;
    margin: 1% 0px 0px 2%;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: antiquewhite;
    text-align: center;
}

.edit-form {
    float: right;
    margin: 1% 5% 0px .5%;
    padding: 3vh 0 3vh 0;
    width: 60%;
    height: auto;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
}

.present-profile img {
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile_pic {
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.error {
    color: red;
}