@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(13, 13, 13);
    font-family: "M PLUS 1", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
    background-image: url(../images/background.png);
}

#header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inner {
    display: block;
    margin: 0 auto;
    margin-top: 0;
    max-width: 700px;
    text-align: center;
    width: 92vw;
    background: url(../images/title_bg.png) no-repeat center center / 100% auto;
    padding: 15px 0;
    font-family: Kanit, sans-serif;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .inner {
        font-size: 7.7vw;
        padding: 2% 0;
    }
}

.display-item-page .bg-frame {
    position: relative;
    display: block;
    z-index: 3;
    margin-top: 0;
    background-color: rgba(0, 215, 251, 0.5);
    color: #128afa;
    font-size: 100%;
}

.bg-frame .title {
    position: relative;
    font-size: 3.5rem;
    margin-top: 0;
}

@media screen and (min-width: 769px) {
    .display-item-page .bg-frame {
        background-image: url(../images/bg_frame_lt.png), url(../images/bg_frame_rt.png), url(../images/bg_frame_lb.png), url(../images/bg_frame_rb.png);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left 15px top 15px, right 15px top 15px, left 15px bottom 15px, right 15px bottom 15px;
    }

    .title {
        margin: 2vw auto 10vw;
    }
}

#icon {
    height: 70px;
    position: relative;
    left: 20px;
}

/* h1 {
    position: relative;
    font-size: 3.5rem;
    margin-top: 0;
    /* left: 20px;
    width: 80%; */
/* } */ 

h2 {
    position: relative;
    font-size: 2.5rem;
    /* left: 20px;
    width: 80%; */
}

h3 {
    position: relative;
    font-size: 2rem;
    left: 20px;
    width: 80%;
}

h4 {
    position: relative;
    font-size: 1.5rem;
    left: 20px;
    width: 80%;
}



.slideshow-container {
    max-height: 500px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.slideshow-container .product img {
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* to remove the scrollbar in dynamic view */
.popular_product {
    width: 100%;
    overflow: clip;
}

.top-section-container {
    width: 100%;
    height: 100vh; /* Ensure it takes the full viewport height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: 0;
    display: flex;
    justify-content: center; /* Centers the inner content horizontally */
    align-items: center; /* Centers the inner content vertically */
}

.top-section-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    transform: translate(-50%, -50%); /* Center the video */
    z-index: -1; /* Place video behind the content */
}

.dot-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust as needed */
    background: url('../images/kv_dot.png') repeat-x center bottom;
    z-index: -1; /* In front of the video but behind the content */
    height: 157px;
    bottom: 0;
}

.welcome-container h1 {
    color: #0b7dda; /* Fully opaque text color */
    text-align: center;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.5); /* Whitesmoke with 50% opacity */
    width: 100vw;
    padding: 20px; /* Add padding for better layout */
    border-radius: 10px; /* Optional: Round corners */
    backdrop-filter: blur(10px); /* Apply a blur effect behind the h1 */
    display: inline-block; /* Ensure the background only wraps around the text */
}

