body {
    color: rgb(13, 13, 13);
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h3 {
    text-align: center;
}

#icon {
    height: 70px;
    position: relative;
    left: 20px;
}

#wallpaper {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.loginForm,
.registerForm {
    background-color: white;
    width: clamp(300px, 40%, 40%);
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    border-radius: 12px;
    border: 1px solid #888;
}

@media (max-width: 765px) {
    .loginForm,
    .registerForm {
        background-color: rgba(255, 255, 255, 0.5);
        top: 50%;
        right: 50%;
        translate: 50% 0;
    }
}

.formContent {
    margin: 5% auto 5% auto;
}

/* Full-width input fields */
input[type=text], 
input[type=password],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Error Display*/
.error {
    color: red;
    position: absolute;
    right: 2%;
}

button,
#register,
.return-btn {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #93deff;
    color: white;
    padding: 14px 20px;
    width: 100%;
    border-radius: 12px;
    display: block;
    text-align: center;
    margin: 0;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
    height: 47px;
}

#register,
.return-btn {
    margin-top: 10px;
    width: 100%; /* Ensure width is consistent with the button */
}

#remember-me-checkbox {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

button:hover,
#register:hover,
.return-btn:hover {
    background-color: #0b7dda;
    opacity: 0.8;
}

.container {
    padding: 16px;
}

#forgotPassword {
    text-align: right;
}

.return-btn:hover {
      /* Hover effect */
}
